<div class="container">
  <div class="row justify-content-center">

    <form class="col-6" [formGroup]="group" (ngSubmit)="registrar()">
      <div class="form-group">
        <input type="email" placeholder="Correo" class="form-control" formControlName="correo" #correo>
        <span *ngIf="group.get('correo').hasError('correoGratuito') && group.get('correo').touched">No se aceptan
          correos gratuitos</span>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Nombre" class="form-control" name="nombre" formControlName="nombre">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contrasena" class="form-control" name="contrasena"
          formControlName="contrasena">
        <span *ngIf="group.get('contrasena').hasError('required') && group.get('contrasena').touched">La contrasena es
          requerida</span>
        <span *ngIf="group.get('contrasena').hasError('minLength') && group.get('contrasena').touched">El tamano minimo
          es 6 caracteres</span>
        <span *ngIf="group.get('contrasena').hasError('pattern') && group.get('contrasena').touched">No cumple con el
          estándar de seguridad</span>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Confirmacion" class="form-control" name="contrasena"
          formControlName="confirmacion">
        <span *ngIf="group.get('confirmacion').hasError('contrasenaNoCoincide') && group.get('confirmacion').touched">La
          contrasena y la confirmacion no coinciden</span>
      </div>
      <div class="form-group">
        <input type="number" placeholder="Edad" name="edad" class="form-control" formControlName="edad">
        <span *ngIf="group.get('edad').hasError('edadProhibida') && group.get('edad').touched">Debe estar entre 18 y 30
          annos</span>
      </div>
      <div>
        <button class="btn btn-success btn-block" [disabled]="group.invalid">
          Registrar
        </button>
        <button type="button" (click)="cargarData()" class="btn btn-warning btn-block">
          Cargar Data
        </button>
        <button type="button" (click)="cargarDataParcial()" class="btn btn-danger btn-block">
          Cargar Data Parcial
        </button>
      </div>
    </form>
  </div>
</div>
