<div class="container">
  <div class="row justify-content-center">

    <form class="col-6" #formulario="ngForm" (ngSubmit)="registrar(formulario)">
      <div class="form-group">
        <input type="email" placeholder="Correo" class="form-control" ngModel name="correo" required email
          #correo="ngModel">
        <span *ngIf="correo.invalid && correo.touched && correo.errors.required">El correo es obligatorio</span>
        <span *ngIf="correo.invalid && correo.touched && correo.errors.email">El formato no es de un correo</span>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Nombre" class="form-control" ngModel name="nombre" required #nombre="ngModel">
        <span *ngIf="nombre.invalid && nombre.touched">El nombre es obligatorio</span>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contrasena" class="form-control" ngModel name="contrasena" required
          #contrasena="ngModel">
        <span *ngIf="contrasena.invalid && contrasena.touched">La contrasena es obligatoria</span>
      </div>
      <div class="form-group">
        <input type="number" placeholder="Edad" name="edad" class="form-control" ngModel #edad="ngModel" required>
        <span *ngIf="edad.invalid && edad.touched">La edad es necesaria</span>
      </div>
      <div>
        <button class="btn btn-success btn-block" [disabled]="formulario.invalid">
          Registrar
        </button>
        <button type="button" (click)="cargarData()" class="btn btn-warning btn-block">
          Cargar Data
        </button>
        <button type="button" (click)="cargarDataParcial()" class="btn btn-danger btn-block">
          Cargar Data Parcial
        </button>
      </div>
    </form>


  </div>
</div>
