<ul>
  <li><a routerLink="/" routerLinkActive="seleccionada" [routerLinkActiveOptions]="{exact: true}">Login</a></li>
  <li><a routerLink="/usuario/register" fragment="admin" routerLinkActive="seleccionada">Registro</a></li>
  <li><a routerLink="/usuario/listado" [queryParams]="{pag: 2, tam: 5, ord: 'nombre'}"
      routerLinkActive="seleccionada">Listado</a></li>
  <li><a routerLink="/usuario/edicion/45" routerLinkActive="seleccionada">Edicion</a></li>
  <li>
    <a routerLink="/cursos/listado/100" [queryParams]="{titulo: 'primaria'}" fragment="lista">
      Listado de cursos
    </a>
  </li>
</ul>
Fecha = {{fecha}}
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>
